@use "@/everything" as *;

.container {
  margin: 2rem 0;
  position: relative;
  width: 100%;
}

.scrollContainer {
  @include interaction-outline($outline-offset: false);

  max-height: var(--code-max-height);
  overflow: auto;

  &:focus-visible,
  &:has(:focus-visible) {
    @include interaction-focus-styles($disable-background: true);
  }

  @include tablet-media {
    --code-max-height: var(--code-tablet-max-height);
  }
}

.preContainer {
  float: left;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.pre {
  margin: var(--code-margin);
  white-space: pre;
}

.preWrap {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  word-break: break-all;
}
