
{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "jsx",
          "typescript",
          "tsx",
          "css",
          "scss",
          "css-extras",
          "markup",
          "markdown",
          "bash",
          "diff",
          "git",
          "json",
          "properties"
        ],
        "plugins": [],
        "css": true
      }
    ]
  ]
}
