@use "@/everything" as *;

$raw-margin: icon-get-var(size);
$task-margin: negate-var(#{$raw-margin});
$task-p-margin: calc(#{$raw-margin} * 2);

.task {
  list-style: none;
  margin-left: $task-margin;

  @include rtl {
    margin-left: auto;
    margin-right: $task-margin;
  }
}

.loose {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;

  p ~ p {
    grid-column: 1 / -1;
    margin-left: $task-p-margin;

    @include rtl {
      margin-left: auto;
      margin-right: $task-p-margin;
    }
  }
}
