@use '../everything' as *;

.container {
  @include rmd-utils-scroll;

  padding: 2rem;

  :global {
    .rmd-typography {
      &--headline-1 {
        font-size: 3rem;
        line-height: 3rem;
      }

      &--headline-2 {
        font-size: 2.75rem;
        line-height: 2.75rem;
      }

      &--headline-3 {
        font-size: 2.25rem;
        line-height: 2.25rem;
      }
    }
  }

  ul,
  ol {
    // ensure same list padding for all browsers because of custom Task styles
    // with negative margin
    padding: 0;
    padding-left: 2.5rem;
  }
}
